body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #f2f2f2;
            }

            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .login {
                width: 400px;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                padding: 20px;
            }

            .login h1 {
                text-align: center;
                margin-top: 0px;
            }

            .txt_field {
                position: relative;
                border-bottom: 2px solid #adadad;
                margin: 30px 0;
            }

            .txt_field input {
                width: 100%;
                padding: 0 5px;
                height: 40px;
                font-size: 16px;
                border: none;
                background: none;
                outline: none;
            }

            .txt_field label {
                position: absolute;
                top: 50%;
                left: 5px;
                color: #adadad;
                transform: translateY(-50%);
                font-size: 16px;
                pointer-events: none;
                transition: .5s;
            }

            .txt_field span::before {
                content: "";
                position: absolute;
                top: 40px;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: #4caf50;
                transition: .5s;
            }

            .txt_field input:focus ~ label,
            .txt_field input:valid ~ label {
                top: -5px;
                color: #4caf50;
           
